<a href="https://colab.research.google.com/github/rupalibodade/CAPSTONE_PROJECT-1/blob/main/Alma_X_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Assessments

## Python level 1

### Write a Python program to find the sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [ ]:
a=int(input())
b=int(input())
sum = a+b
if 15<sum<20:
  sum=20
print(sum)

15
2
20

### Write a Python program to check if a number is positive, negative or zero.

In [ ]:
n=int(input())
if n<0:
  print('Negative')
elif n==0:
  print('Zero')
else:
  print('Positive')

-8
Negative

### Write a Python program to round a floating-point number to specified number decimal places.

Example 1:
Input:
10.5247, 2

Output:
10.52

In [ ]:
el=float(input())
e=int(input())
ro=round(el,e)
print(ro)

10.5247
2
10.52

### Write a Python program to compute and print sum of two given integers (more than or equal to zero). If given integers or the sum have more than 80 digits, print "overflow".

In [ ]:
u=int(input())
v=int(input())
sum=u+v
if u>10**80 or v>10**80 or sum>10**80:
  print('Overflow')
else:
  print(sum)

555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555
5
Overflow

### Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

Example 1:
Input:
5

Output:
This is an odd number.

In [ ]:
x=int(input())
if x%2==0:
  print('This is an even number')
else:
  print('This is an odd number')

108
This is an even number

## Python level 2

### Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

Example 1:
Input:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Output:
['Green', 'White', 'Black']

In [ ]:
lis=eval(input())
up=[ele for x , ele in enumerate(lis) if x not in (0,4,5)]
print(up)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

### Write a Python program to get the largest number from a list.

Example 1:
Input:
[1, 2, -8, 0]

Output:
2

In [ ]:
li1=eval(input())
print(max(li1))

[1, 2, -8, 0]
2

### Write a Python program to get the every nth element in a given list.

Example 1:
Input:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2

Output:
[2, 4, 6, 8, 10]

In [ ]:
lis1=eval(input())
n=int(input())
print(lis1[n-1::n])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
[2, 4, 6, 8, 10]

### Write a Python program to get the smallest number from a list.

Example 1:
Input:
[1, 2, -8, 0]

Output:
-8

In [ ]:
dj=eval(input())
print(min(dj))

[1, 2, -8, 0]
-8

### Write a Python program to sum all the items in a list.

Example 1:
Input:
[1,2,-8]

Output:
-5

In [ ]:
ass=eval(input())
print(sum(ass))

[1,2,-8]
-5

### Python level 3

### Write a Python program to find the biggest even number between two numbers inclusive.

Example 1:
Input:
12
, 51

Output:
50

In [ ]:
x=int(input())
y=int(input())
even=[ele for ele in range(x,y+1) if ele%2==0]
big=max(even, default='-inf')
print(big)

12
51
50

### Write a Python program to find the indexes of numbers of a given list below a given threshold.

Example 1:
Input:
[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]

100

Output:
[0, 1, 2, 3, 7, 8, 9, 10]

### Write a Python program to remove None value from a given list. (Using list comprehension)

Input:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Output:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
xx=eval(input())
wn=[ele for ele in xx if ele is not None]
print(wn)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

### Write a Python program to find the indexes of all None items in a given list.

Input:
[1, None, 5, 4,None, 0, None, None]

Output:
[1, 4, 6, 7]

In [ ]:
x2=eval(input())
index=[i for i, x in enumerate(x2) if x is None]
print(index)

[1, None, 5, 4,None, 0, None, None]
[1, 4, 6, 7]

### Write a Python program to remove specific words from a given list. (Using List comprehension)

Input:
['red', 'green', 'blue', 'white', 'black', 'orange']

['white', 'orange']

Output:
['red', 'green', 'blue', 'black']

In [ ]:
xx12=eval(input())
sub=eval(input())
op=[ele for ele in xx12 if ele not in sub]
print(op)

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
['red', 'green', 'blue', 'black']

## Python level 4

### Write a Python program to calculate Euclidean Distance.

Input:
Given First point values P(x1, y1) : 6 , 7

Given second point values Q(x2, y2) : 5, 4

Output:
The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

In [ ]:
x1,y1=6,7
x2,y2=5,4
dis=((x2-x1)**2 + (y2-y1)**2)**(1/2)
print(dis)

3.1622776601683795

### Write a python program to remove a given character from string.

Input:
AlmaBetter , t

Output:
almabe er

In [ ]:
alm=input()
ep=input()
alm=alm.lower()
print(alm.replace(ep," "))

AlmaBetter
t
almabe  er

### Write a python program to find the last position of a given substring.

Input:
Emma is a data scientist who knows Python. Emma works at google.

Emma

Output:
Last occurrence of Emma starts at index 43

In [ ]:
stx=input()
subx=input()
inx=stx.rfind(subx)
print(f'Last occurrence of {subx} starts at index {inx}')

Emma is a data scientist who knows Python. Emma works at google.
Emma
Last occurrence of Emma starts at index 43

### Write a Python program to find common items from two lists.

Input:
["Red", "Green", "Orange", "White"]

["Black", "Green", "White", "Pink"]

Output:
['Green', 'White']

In [ ]:
ta=eval(input())
ti=eval(input())
comm=[ele for ele in ta if ele in ti]
print(comm)

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
['Green', 'White']

### Write a Python program to check whether a String is Palindrome or not?

Input:
madam

Output:
String is a Palindrome

In [ ]:
pal=input()
com="String is a Palindrome" if pal[::-1] else 'String is not a Palindrone'
print(com)

madam
String is a Palindrome

## Python level 5

### Write a Python program to swap two number without using third variable.

 Input:

a=9

b=2

Output:

value of a is : 9

value of b is : 2

After swapping

value of a is : 2

value of b is : 9

In [ ]:
a=int(input())
b=int(input())
print(f'value of a is : {a}')
print(f'value of b is : {b}')
print('After swapping')
a=a-b
b=a+b
a=b-a
print(f'value of a is : {a}')
print(f'value of b is : {b}')

9
2
value of a is : 9
value of b is : 2
After swapping
value of a is : 2
value of b is : 9

### Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

Input:
28

Output:
It is Perfect Number

In [ ]:
pe=int(input())
text=[]

### Write a Python program to change the position of every nth value with the (n+1)th in a list.

Input:
[1, 0, 3, 2, 5, 4]

Output:
[0, 1, 2, 3, 4, 5]

In [ ]:
po=eval(input())
print(sorted(po))

[1, 0, 3, 2, 5, 4]
[0, 1, 2, 3, 4, 5]

### Write a Python program to compute the difference between two lists.

Input:

L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

Output:

L1-L2= ['orange', 'red', 'white']

L2-L1= ['black', 'yellow']

In [ ]:
xx1=eval(input())
xx2=eval(input())
f1=[i for i in xx1 if i not in xx2]
f2=[i for i in xx2 if i not in xx1]
print(f'L1-L2= {f1}')
print(f'L2-L1= {f2}')

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2= ['red', 'orange', 'white']
L2-L1= ['black', 'yellow']

### Write a Python program to find a tuple, the smallest second index value from a list of tuples.

Input:
  x= [(4, 1), (1, 2), (6, 0)]

Output:
(6, 0)

In [ ]:
lal=eval(input())
f= (ele for ele in lal if min(ele[1]))
print(f)

[(4, 1), (1, 2), (6, 0)]
<generator object <genexpr> at 0x7d81e7ff8e40>

## Python level 6

### Write a Python program to find the items starts with specific character from a given list.

Input:

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

a

Output:

Items start with a from the said list:

['abcd', 'abc', 'acjd']

In [ ]:
sta=eval(input())
sx=input()
final=[e for e in sta if e.start(sx)]
print(final)

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
a

AttributeError: ignored

### Write a Python Program to Find Next Prime Number.

Input:
Given Number = 48

Output:
The next prime number of 48 is: 53

### Write a Python program to find the largest negative and smallest positive numbers (or 0 if none).

Input:

[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]

Output:

Largest negative and smallest positive numbers (or 0 if none) of the said list:

[-6, 2]

In [ ]:
ds=eval(input())
def te(ds):
  pos=[e for e in ds if e>0]
  neg=[e for e in ds if e<0]
  return [max(neg) if neg else 0, min(pos) if pos else 0]
print(f"Largest negative and smallest positive numbers (or 0 if none) of the said list: {te(ds)}")

[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
Largest negative and smallest positive numbers (or 0 if none) of the said list: [-6, 2]

### Write a Python program to remove duplicate characters of a given string.

Input:

python exercises practice solution

Output:

python exrcisalu

In [ ]:
py=input()
nx=[]
nd=''.join(e for e in py if e not in nx )
print(nd)

python exercises practice solution
python exercises practice solution

### Write a Python program to find whether a given string starts with a given character using Lambda.

Input:

Python

P

Output:

True